<header class="flex lg:justify-between l:w-2/3 md:w-3/4 sm:w-full mx-auto l:px-0 sm:px-8 lg:max-w-3xl lg:border-2 lg:border-gray-300 rounded-full">
    <div class="flex flex-row align-bottom justify-start">
        <h1 class="text-left lg:text-2xl sm:text-4xl font-bold text-green-500 hover:text-green-700"><a href="/">Charlie Ward</a></h1>
    </div>
    <div class="lg:flex text-right pt-0.5 align-bottom justify-end">
        <h2 class="text-gray-300 text-xl align-right hover:text-green-500"><a href="/projects/">Projects</a></h2>
        <div class="w-8 h-1"></div>
        <h2 class="text-gray-300 text-xl align-right hover:text-green-500"><a href="/community/">Community</a></h2>
        <div class="w-8 h-1"></div>
        <h2 class="text-gray-300 text-xl align-right hover:text-green-500"><a href="/">Resume</a></h2>
    </div>
</header>