---
layout: 'layouts/base.njk'
---

<div class="rounded-lg m-10 mt-20 l:w-2/3 md:w-3/4 w-full mx-auto lg:max-w-3xl">
    <div class="text-gray-300 sm:px-9">
        <h1 class="text-4xl font-bold text-center">
            Projects
        </h1>
        <br>
        <br>

        {# COLUMN OF PROJECT PREVIEWS #}
        <div class="h-full w-full flex flex-col gap-4">
            <div data-modal-target="#ZomCrossModal" id="ZombieCrossing" class="w-full md:h-52 h-60 bg-gray-900 bg-opacity-25 hover:bg-opacity-50 rounded-xl">
                <div class="justify-center p-4 w-full h-full">
                    <div class="w-full h-full grid md:grid-cols-9 grid-cols-2 overflow-hidden">
                        <!--Will make pop up card object: has preview image on left 1/3, then bold title and short description on right 2/3. Will open pop-up window with more info when clicked-->
                        <div class="w-full h-full object-cover rounded-xl md:col-span-4 bg-blue-900 aspect-video md:max-h-[176px] max-h-[208px]">
                        </div>
                        <div class="w-full h-full object-cover rounded-xl md:col-span-5">
                            <div class="w-full h-full px-4 py-6">
                                <div class="text-left">
                                    <div class="font-semibold text-xl">
                                        Zombie Crossing
                                    </div>
                                    <div class="text-sm pt-4">
                                        This project encompassed several different skills, including blank and blank and blank. I was able to learn blank and gain experience using blank.
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                
                
            </div>
            <div id="EgyptianCards" class="w-full md:h-52 h-60 bg-gray-900 bg-opacity-25 hover:bg-opacity-50 rounded-xl">
                <div class="justify-center p-4 w-full h-full">
                    <div class="w-full h-full grid md:grid-cols-9 grid-cols-2 overflow-hidden">
                        <!--Will make pop up card object: has preview image on left 1/3, then bold title and short description on right 2/3. Will open pop-up window with more info when clicked-->
                        <div class="w-full h-full object-cover rounded-xl md:col-span-4 bg-blue-900 aspect-video md:max-h-[176px] max-h-[208px]">
                        </div>
                        <div class="w-full h-full object-cover rounded-xl md:col-span-5">
                            <div class="w-full h-full px-4 py-6">
                                <div class="text-left">
                                    <div class="font-semibold text-xl">
                                        Egyptian Ratslap Game
                                    </div>
                                    <div class="text-sm pt-4">
                                        This project encompassed several different skills, including blank and blank and blank. I was able to learn blank and gain experience using blank.
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                
                
            </div>
        </div>
        <br>

        {# MODALS #}
        <div class="modal fixed z-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border-2 rounded-xl md:h-3/5 h-8/10 md:w-2/3 w-[9/10] border-gray-300 bg-black p-8 scale-0 transition duration-200 ease-in-out" id="ZomCrossModal">
            <div class="flex justify-between">
                <div class="font-bold text-3xl">Project Title</div>
                <button data-close-button class="font-bold text-4xl" id="closeButton">&times;</button>
            </div>
            <div class="flex w-full xl:h-[400px] h-[286px] py-4">
                <div class="mx-auto w-full xl:max-w-[700px] max-w-[500px] aspect-video bg-white rounded-2xl"></div>
            </div>
            
            <div class="modal-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In, soluta facilis quos deleniti ipsam laboriosam possimus quis, exercitationem, illum reprehenderit quaerat necessitatibus enim iure aperiam. Quasi totam minima sapiente commodi, eum delectus necessitatibus tempora, numquam, itaque dolores reprehenderit quos enim.
            </div>
        </div>
        <div id="overlay" class="top-0 bottom-0 right-0 left-0 bg-black bg-opacity-50 fixed pointer-events-none opacity-0 transition duration-200 ease-in-out"></div>
    </div>
</div>

<script>
    const openModalButtons = document.querySelectorAll('[data-modal-target]');
    const closeModalButtons = document.querySelectorAll('[data-close-button]');
    const overlay = document.getElementById('overlay');

    openModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = document.querySelector(button.dataset.modalTarget);
            openModal(modal);
        });
    });

    closeModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = button.closest('.modal');
            closeModal(modal);
        });
    });

    function openModal(modal) {
        if (modal == null) return;
        modal.classList.add('activated');
        overlay.classList.add('activated');
    };

    function closeModal(modal) {
        if (modal == null) return;
        modal.classList.remove('activated');
        overlay.classList.remove('activated');
    };
</script>